/* Your package's admin CSS. Loaded by your admin controller(s) after everything else. */

.admin-test {
    display: block !important;
    background: red;
    color: white;
    padding: 8px;
    border: 1px solid darkred;
}